@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
* {
  box-sizing: border-box;
}
body {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-35%, -35%);
  font-family: "Roboto";
  color: #ffffff;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label span {
  transform: scale(1.25);
}
input[type="radio"]:checked + label .red {
  border: 2px solid #DF826C;
}
input[type="radio"]:checked + label .orange {
  border: 2px solid #F8FFD2;
}
input[type="radio"]:checked + label .yellow {
  border: 2px solid #D0F288;
}
input[type="radio"]:checked + label .olive {
  border: 2px solid #8ADAB2;
}
input[type="radio"]:checked + label .green {
  border: 2px solid #EEF296;
}
input[type="radio"]:checked + label .teal {
  border: 2px solid #003633;
}
input[type="radio"]:checked + label .blue {
  border: 2px solid #CDFAD5;
}
input[type="radio"]:checked + label .violet {
  border: 2px solid #321a64;
}
input[type="radio"]:checked + label .purple {
  border: 2px solid #501962;
}
input[type="radio"]:checked + label .pink {
  border: 2px solid #C21292;
}
label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
label span.red {
  background: #DF826C;
}
label span.orange {
  background: #F8FFD2;
}
label span.yellow {
  background: #D0F288;
}
label span.olive {
  background: #8ADAB2;
}
label span.green {
  background: #EEF296;
}
label span.teal {
  background: #003633;
}
label span.blue {
  background: #CDFAD5;
}
label span.violet {
  background: #321a64;
}
label span.purple {
  background: #501962;
}
label span.pink {
  background: #C21292;
}
